{% extends "index.html" %}

{% block styles %}
    .log-in-form-wrapper {
    display: flex;
    }

    .log-in-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 20%;
    }

    .log-in-form__header {
        text-align: center;
    }

    .form-field {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    }

    .log-in-button {
    margin-top: 10px;
    }
{% endblock %}

{% block main %}
    <div class="log-in-form-wrapper">
        <form action="" method="post" class="log-in-form">
            {% csrf_token %}
            <h1 class="log-in-form__header">Log in</h1>
            <div class="form-field">
                <div class="form-field__label">
                    <label for="username">Username</label>
                </div>
                <div class="form-field__input">
                    <input type="text" id="username" name="username" required>
                </div>
            </div>
            <div class="form-field">
                <div class="form-field__label">
                    <label for="password">Password</label>
                </div>
                <div class="form-field__input">
                    <input type="password" id="password" name="password" required>
                </div>
            </div>
            <input type="submit" class="log-in-button" value="Log in">

        </form>
    </div>


{% endblock %}